QWidget {
    background-color: #EEEEEE;
    color: black;
}

#pb_newTrx_in {
    background-color: rgba(0, 200, 0, 255);
}
#pb_newTrx_out {
    background-color: red;
}
#groupBox{
    background-color: rgba(0, 200, 0, 255);
}#groupBox_2{
    background-color: rgba(200, 0, 0, 255);
}
